@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.slick-slide > div {
  margin: 0 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Grid with 4 columns */
}

.grid-item {
  border: 0;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Grid with 4 columns */
}

.grid-item21 {
  border: 0;
}

.grid-item22 {
  border: 0;
}

/* Media query for screens with width less than or equal to 1150px */
@media (max-width: 1200px) {
  .grid-item {
    grid-column: span 2; /* Set col-span-2 for all grid items */
  }
  .grid-item21 {
    grid-column: span 3;
  }
  .grid-item22 {
    grid-column: span 3;
  }
}

/* Media query for screens with width greater than 1150px */
@media (min-width: 1201px) {
  .grid-item {
    grid-column: span 1; /* Set col-span-1 for all grid items */
  }
  .grid-item21 {
    grid-column: span 2;
  }
  .grid-item22 {
    grid-column: span 1;
  }
}

/* Media query for screens with minimum width of 720px */
@media (max-width: 720px) {
  .grid-item {
    grid-column: span 4; /* Set col-span-1 for all grid items */
  }
}
